body{
    width: 90%;
    height: 90%;
}
textarea {
    margin-left: 10%;
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    height: 500px;
    min-height: 500px;
    max-height: 500px;
    font: bold 25px/30px Arial;
    overflow-y:hidden;
    text-align: center;
    padding-top: 7%;
}
button{
    margin-left: 30%;
    height: 50px;
    font: bold 20px/20px Arial;
}