.container-fluid
  // 栅格系统
  .row
    #leftSide.col-md-2
      p 登录后查看购买书目
      div
        // <div class="ribbon ribbon-orange"><span></span></div>
        // <div class="ribbon ribbon-purple"><span></span></div>
    span#icon.glyphicon.glyphicon-triangle-left.iconSpan.selected(title='hide')
    include second.jade


