script(src='/bootstrap-3.3.5-dist/js/jquery.js')
script(src='/bootstrap-3.3.5-dist/js/bootstrap.min.js')
script(src='scripts/control.js')
script(src='scripts/PDFreader.js')
script(src='scripts/verify.js')
script(src='scripts/pdfjs/compatibility.js')
script(src='scripts/pdfjs/l10n.js')
script(src='scripts/pdfjs/pdf.js')