doctype html
html(lang='zh-cn')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title webReader
    link(href='bootstrap-3.3.5-dist/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='styles/pithy.css', rel='stylesheet')
  body
    .container-fluid
      // 栅格系统
      .row
        #leftSide.col-md-2
          | 登录后查看购买书目
        span#icon.glyphicon.glyphicon-triangle-left.iconSpan(title='show')
        #main.col-md-8
          // 进度条
          .progress.height
            .progress-bar(role='progressbar', aria-valuenow='79', aria-valuemin='0', aria-valuemax='100', style='width: 79%;')
              span.sr-only 79% Complete
          section#section
            form#form.form-inline.pull-right.login
              .form-group
                input.form-control(type='text', name='user_name', placeholder='nickName...')
              .form-group
                input.form-control(type='password', name='password', placeholder='password...')
              button#submit.btn.btn-default.btn-primary(type='submit') login
            header.bookTitle
              p bookName
            hr
            canvas#content
            footer
              -var now
              -var total
              -var rate
              | #{now}/#{total}
          #menuList.menuList
        #rightSide.col-md-2
          // 目录按钮
          span#menuBtn.glyphicon.glyphicon-th-list.main-menu
          // 上一页按钮
          button#prev.btn.btn-default.bleft(data-toggle='tooltip', data-placement='left', title='previous page')
            span.glyphicon.glyphicon-chevron-left
          // 下一页按钮
          button#next.btn.btn-default.bright(data-toggle='tooltip', data-placement='right', title='next page')
            span.glyphicon.glyphicon-chevron-right
    // ===================================================================
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='bootstrap-3.3.5-dist/js/jquery.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='bootstrap-3.3.5-dist/js/bootstrap.min.js')
    script(src='scripts/control.js')
    script(src='scripts/event.js')
    script(src='/scripts/lib/pdfjs/pdf.js')
    script(src='/scripts/PDFreader.js')
                                                