<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>WebReader</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="../public/styles/reader.css" type="text/css"/>
    <script src="../public/scripts/reader.js" type="text/javascript"></script>
</head>
<body>
<article id="content"></article>
<nav>
    <button id="prev">前一页</button>
    <button id="next">后一页</button>
</nav>
<!--<script src="scripts/reader.js"></script>-->
</body>
</html>