#rightSide.col-md-2
  // 目录按钮
  span#menuBtn.glyphicon.glyphicon-th-list.main-menu.hide
  // 上一页按钮
  button#prev.btn.btn-default.bleft.hide(data-toggle='tooltip', data-placement='left', title='previous page')
    span.glyphicon.glyphicon-chevron-left
  // 下一页按钮
  button#next.btn.btn-default.bright.hide(data-toggle='tooltip', data-placement='right', title='next page')
    span.glyphicon.glyphicon-chevron-right
//footer
//  -var now
//  -var total
//  -var rate
//  | #{now}/#{total}