/*******************
登录框 开始
*******************/

.login-form {
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 5;

    background: #595959;
    border: 1px solid #8f8f8f;
    border-radius: 5px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/*******************
登录框上面的信息
*******************/

.login-form .header {
    padding: 10px 10px 5px 2px;
    border-bottom: 1px solid #730909;
}

.login-form .header h3 {
    font-family: 'Bree Serif', serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 20px;
    color: #d4d4d4;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    margin: 2px;
}

/*这句考虑要不要删掉！！*/
.login-form .header span {
    font-size: 11px;
    line-height: 16px;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
}

/*******************
登录框内容
*******************/

.login-form .content {
    padding: 0 30px 25px 30px;
    opacity: 0.5;
}

/* Input */
.login-form .content .input {
    width: 100%;
    padding: 5px 10px;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    /*color: #4ff520;*/
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);

    /*background: #fff;*/
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

/* Second input */
.login-form .content .password, .login-form .content {
    margin-top: 5px;
}

.login-form .content .input:hover {
    background: #e5e5e5;
}

.login-form .content .input:focus {
    background: #dfe9ec;
    color: #414848;

    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

/* Animation */
.input, .submit, .back {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

/*******************
FOOTER
*******************/

.login-form .footer {
    padding: 8px 10px 8px 10px;
    overflow: auto;

    border-top: 1px solid #730909;

    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* Login button */
.login-form .footer .submit {
    float: right;
    padding: 5px 8px;
    margin-left: 18px;

    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 1px 0 rgba(245, 245, 245, 0.25);

    background: #c9703f;
    border: 1px solid #161615;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
    -moz-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
    -webkit-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
}

.login-form .footer .submit:hover {
    background: #d55221;
    border: 1px solid rgba(256, 256, 256, 0.75);

    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.login-form .footer .submit:focus {
    position: relative;
    bottom: -1px;

    background: #bb471d;

    box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
    -moz-box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
    -webkit-box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
}

/* back button */
.login-form .footer .back {
    display: block;
    float: right;
    margin-right: 10px;
    padding-top: 10px;
    background: none;
    border: none;
    cursor: pointer;

    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 15px;
    color: #b7cbcb;
    text-shadow: 0px 1px 0 rgba(256, 256, 256, 0.5);
}

.login-form .footer .back:hover {
    color: #49b7d6;
}

.login-form .footer .back:focus {
    position: relative;
    bottom: -1px;
}

.login-form .footer .logout {
    margin: auto 0 5px auto;
}

.login-form-input {
    background-color: #ecc38d;
}

.user_name {
    font-family: 'Bree Serif', serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 69px;
    color: #f0f52b;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    padding: 22px;
}

/*******************
登录框 结束
*******************/

/*******************
书目 开始
*******************/
.pBeforeBooks {
    margin: 30px auto 20px auto;
}

.ribbons {
    padding-top: 16px;
    position: relative;
}

.ribbons:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 34px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xNiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.16)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#29000000', GradientType=1);
}

.ribbons .ribbon {
    margin-bottom: 12px;
    min-width: 100%;
}

.ribbon {
    height: 50px;
    padding-right: 40px;
    display: inline-block;
    background: url(../images/ribbons.png) right -55px no-repeat;
}

.ribbon span {
    cursor: pointer;
    display: block;
    height: 50px;
    line-height: 38px;
    padding-left: 55px;
    background: url(../images/ribbons.png) left 0 no-repeat;
    font-size: 13px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    white-space: nowrap;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .ribbon, .ribbon span {
        background-image: url(../images/ribbons-x2.png);
        background-size: 900px auto;
    }
}

.ribbon-orange {
    background-position: right -165px;
}

.ribbon-orange span {
    background-position: left -110px;
}

.ribbon-purple {
    background-position: right -275px;
}

.ribbon-purple span {
    background-position: left -220px;
}






