<!DOCTYPE html>
<html ng-app="glbj">
<head lang="en">
    <meta charset="UTF-8">
    <title>first angularjs</title>
    <script src="js/angular.min.js"></script>
</head>
<body ng-controller="Task">
        <input type="number" ng-model="aaa">
        <input type="number" ng-model="bbb">
        动态绑定：{{aaa*bbb}}<br><br>
        <input type="text" ng-model="task">
        <button ng-click="add()">添加</button>
        <h3 ng-hide="tasks.length==0">列表1：</h3>  <!--表达式成功 隐藏  不管表达式成功与否 标签一定会生成  --1111111111111111111111111111111111  >
        <h3 ng-if="tasks.length>0">列表2：</h3>     <!--表达式成功 显示  这个不生成（尽管表面上效果一样 这个效果更佳）-->
        <ul>
            <li ng-repeat="i in tasks track by $index">{{i}} <a ng-click="tasks.splice($index,1)" href="">delete</a> </li>
        </ul>

<script>
        angular.module('glbj', [])               //对应的管理边界
                .controller('Task', function ($scope) {    //名称一定要绑定在HTML代码端
                    $scope.task = '';
                    $scope.tasks = [];
                    $scope.add = function () {
                        $scope.tasks.push($scope.task);
                    }
                })
</script>
</body>
</html>